<hr />
<h2>Plan Upgrade</h2>
<hr />
    <h3>Do you want to upgrade to 'Ultimate'?</h3>
    <div>
        <h4></h4>
            @Html.ActionLink("Yes", "UpgradePlan", "Stripe", null, new { @class = "btn btn-default"})
            <span> or </span>
            @Html.ActionLink("No", "Index", "Home", null, new { @class = "btn btn-default"})
    </div>

