@{
    ViewBag.Title = "Contact";
}
<hr />
<hgroup>
    <h2>@ViewBag.Title</h2>
</hgroup>
<hr />
<div style="font-size:16px">
        IT Tallaght 4th Year Student<br />
        </span>Slawomir Skibinski<br />
        <i class="icon-envelope"></i><strong>My Online Portfolio:</strong><a href="http://www.skibinski.host-ed.me/" target="_blank"> Visit my online portfolio</a><br />
        <hr />
        Address:<br />
        ***** street
        Tallaght <br />
        Tallaght, Dublin 24<br />
        <span title="Phone">P: </span>
        00353 087******<br />
    <hr />
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:x00077052@mymail.ittdublin.ie">x00077052@mymail.ittdublin.ie</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:x00077052@mymail.ittdublin.ie">x00077052@mymail.ittdublin.ie</a>
</div>