@{
    ViewBag.Title = "About WDS";
}
<hr />
<hgroup>
    <h2>@ViewBag.Title</h2>
</hgroup>
<hr />
<div class="row-fluid">
    <div class="span12">
        <p><h4>
    Work Distribution System (WDS) is a software-as-service application that will change the way you do your business.<br />
    It provides many benefits to handling and streamlining your current work delivery system.<br />
    <br />Main benefits: <br />
    - 'pay per use' pricing schema<br />
    - subscription plans<br />
    - reduces manual, non-value added tasks<br />
    - higher volumes of requests can be handled efficiently<br />
    - requests can be prioritized<br />
    - no lost/missing of physical files<br />
    - shared resources provide better workload balancing<br />
    - overall, better customer service!<br /><br />
    Sing up for our 30-Day Free Trail subscription today!
</h4></p>
    </div>
</div>